@import url("base.css");
@import url("utilities.css");

/* bread crumb  */
.breadcrumb {
  --bs-breadcrumb-divider: ">";

  .breadcrumb-item + .breadcrumb-item::before {
    color: var(--green);
  }
  .breadcrumb-item {
    font-size: clamp(12.4px, 1vw, 14px) !important;
    a {
      color: var(--green);
      font-weight: 400;
      font-size: clamp(12.4px, 1vw, 14px) !important;
    }
    &.active {
      color: var(--green-dark);
    }
  }
}

/* hero section  */

.hero-section {
  min-height: 100vh;
  width: 100%;
  background: url("../img/hero.svg") center center/cover no-repeat;
  position: relative;
}
